server {
    listen 80;
    server_name {{DOMAIN}};

    # tries to find a file at the location specified, or
    # falls back to the @app location
    location / {
        try_files $uri @app;
    }

    location @app {
        include uwsgi_params;
        uwsgi_pass unix:///tmp/uwsgi.sock;
    }

    location /static {
        alias /app/static;
    }
}

# redirect www to non-www
server {
    listen 80;
    server_name www.{{DOMAIN}};
    return 301 $scheme://{{DOMAIN}}$request_uri;
}