<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} | Porter Family Tree</title>
        <meta name="description" content="Family tree for William Porter and Elizabeth Kenney">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

        {% if load_treegraph %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/treegraph.css') }}">
        <script src="{{ url_for('static', filename='js/lodash_4.17.21/lodash.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/d3_4.13.0/d3.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/dTree_2.4.1/dTree.min.js') }}"></script>
        {% endif %}

        <meta name="theme-color" content="#fafafa">
    </head>
    <body class="{% block body_class %}index{% endblock %}">
        {% if self.body_class() != "index" %}
        <header>
            <ul>
                <li><a href="{{ url_for('index') }}">Home page</a></li>
                <li><a href="{{ url_for('adv_search') }}">Search</a></li>
                <li><a href="{% if report_url %}{{ url_for('report', url=request.base_url) }}{% else %}{{ url_for('report') }}{% endif %}">Report an update/error</a></li>
            </ul>
        </header>
        {% endif %}
        <div id="main_content">{% block content %}{% endblock %}</div>
        <footer>
            <ul>
                <li><a href="{{ url_for('index') }}">Home page</a></li>
                <li><a href="{{ url_for('adv_search') }}">Search</a></li>
                <li><a href="{% if report_url %}{{ url_for('report', url=request.base_url) }}{% else %}{{ url_for('report') }}{% endif %}">Report an update/error</a></li>
            </ul>
        </footer>
        {% if load_treegraph %}<script src="{{ url_for('static', filename='js/treegraph.js') }}"></script>{% endif %}
    </body>
</html>