<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Porter Family Tree | {% block title %}{% endblock %}</title>
        <meta name="description" content="Family tree for William Porter and Elizabeth Kenney">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

        {% if load_treegraph %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/treegraph.css') }}">
        <script src="{{ url_for('static', filename='js/lodash_4.17.21/lodash.js') }}"></script>
        <script src="{{ url_for('static', filename='js/d3_4.13.0/d3.js') }}"></script>
        <script src="{{ url_for('static', filename='js/dTree_2.4.1/dTree.js') }}"></script>
        {% endif %}

        <meta name="theme-color" content="#fafafa">
    </head>
    <body class="{% block body_class %}index{% endblock %}">
        <div id="main_content">{% block content %}{% endblock %}</div>
        <footer>
            <ul>
                <li><a href="{{ url_for('index') }}">Home page</a></li>
                <li><a href="{{ url_for('adv_search') }}">Search</a></li>
                <li><a href="#">Report an update/error</a></li>
            </ul>
        </footer>
    </body>
</html>