{% extends "base.html" %}

{% block title %}{{ data.focus.display_name | safe }}{% endblock %}

{% block body_class %}person{% endblock %}

{% block content %}
    <h2>{{ data.focus.display_name | safe }} {{ data.focus.life_span }}</h2>
    <dl>
        <dt>Birth: </dt><dd>{{ data.focus.birth_month or '?' }} {{ data.focus.birth_day or '?' }}, {{ data.focus.birth_year or '?' }}{% if data.focus.birth_place %}; {{ data.focus.birth_place }}{% endif %}</dd>
        {% if data.focus.death_month is not undefined or data.focus.death_day is not undefined or data.focus.death_year is not undefined or data.focus.death_place is not undefined %}
            <dt>Death: </dt><dd>{{ data.focus.death_month or '?' }} {{ data.focus.death_day or '?' }}, {{ data.focus.death_year or '?' }}{% if data.focus.death_place %}; {{ data.focus.death_place }}{% endif %}</dd>
        {% endif %}
        {% if data.focus.buried %}<dt>Buried: </dt><dd>{{ data.focus.buried }}</dd>{% endif %}
        {% if data.focus.additional_notes %}<dt>Notes: </dt><dd>{{ data.focus.additional_notes }}</dd>{% endif %}
    </dl>

    {% if data.parents | length > 0 %}
        <h3>Parent{% if data.parents | length > 1 %}s{% endif %}</h3>
        <ul>
            {% for p in data.parents %} 
                <li><a href="{{ url_for('person_page', pid=p.id) }}">{{ p.display_name | safe }}</a></li> 
            {% endfor %}
        </ul>
    {% endif %}
    {% if data.spouses | length > 0 %}
        <h3>Spouse{% if data.spouses | length > 1 %}s{% endif %}</h3>
        <ul>
            {% for s in data.spouses %} 
                <li><a href="{{ url_for('person_page', pid=s.id) }}">{{ s.display_name | safe }} {{ s.life_span }}</a></li> 
            {% endfor %}
        </ul>
    {% endif %}
    {% if data.children | length > 0 %}
        <h3>Child{% if data.children | length > 1 %}ren{% endif %}</h3>
        <ul>
            {% for c in data.children %} 
                <li><a href="{{ url_for('person_page', pid=c.id) }}">{{ c.display_name | safe }} {{ c.life_span }}</a></li> 
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}