{% extends "base.html" %}

{% block title %}Original Preface: A Few Thoughts{% endblock %}

{% block body_class %}preface{% endblock %}

{% block content %}
    <h2>Original Preface: A Few Thoughts</h2>
    <p>On the following pages you will find a history and narrative of a little of the lives of two people, William and Elizabeth Porter, and their descendants.</p>

    <p>I wonder what was in the hearts and minds of William and Elizabeth as they sailed individually so many years ago to Canada. Was it a sense of adventure? Was it for freedom? Was it to a land of plenty? One will never know.</p>

    <p>They started with nothing, only their willingness to work and a lot of tired muscles to carve a home out of the wilderness. Of importance to the early families was to build a shelter in which to live, a church in which to worship and a school in which to educate their children. Looking at our world today, they were successful in all areas.</p>

    <p>Gone are the days of the slow pace of living and travel. Horses and buggies did not travel great distances, because one always had to return home to chores. One can note that many of the early people married someone from their community. Only in the last couple of generations have people travelled further and further from their places of birth.</p>

    <p>Here are the days of much technology &ndash; hospitals, air travel, electricity, electronic media to name a few. We have so much compared to our forefathers, but do we have the same determination amidst all our luxuries to be strong in our communities and churches, to make an impact on our world as our forefathers did in theirs? We have so much to be thankful for, and so much to live up to.</p>

    <p>What was in the hearts of other pioneers who left St. Vincent Township and their families to move to places unknown &ndash; the Frees to Texas, the Bishops, Curles, Milligans to Saskatchewan, the Blakeslees to Michigan, David Porter&rsquo;s family to Alberta, the Atkins families to British Columbia and Saskatchewan? Was it again a sense of adventure and curiosity, a chance to expand their horizons?</p>

    <p>During the time of research of this history, I have been left with some deep thoughts &ndash; the more I learned, the more I wished I could have known these early people. (Maybe we do know them in the character traits we have inherited.) I would like to have walked with them, talked with them, worked with them and worshipped with them. But since this is impossible, the challenge that stirs in my heart is to live my life in such a way that my forefathers would be proud to call me one of their descendants.</p>

    <p>An old hymn comes to mind and I would like to share it with you.</p>

    <blockquote>
        <p><u>O GOD, OUR HELP IN AGES PAST</u><br />
        by Isaac Watts</p>
        
        <p>O God, our help in ages past,<br />
        Our hope for years to come,<br />
        Our shelter from the stormy blast,<br />
        And our eternal home!</p>

        <p>Under the shadow of Thy throne<br />
        Still may we dwell secure;<br />
        Sufficient is Thine arm alone,<br />
        And our defense is sure.</p>

        <p>Before the hills in order stood,<br />
        Or earth received her frame,<br />
        From everlasting Thou art God,<br />
        To endless years the same.</p>

        <p>O God, our help in ages past,<br />
        Our hope for years to come;<br />
        Be Thou my guide while life shall last,<br />
        And our eternal home.</p>
    </blockquote>

    <p>Many thanks to all of you who have contributed information from your families. Without you we couldn&rsquo;t have completed this history. Your help is much appreciated. Our apologies for any errors due to mis-interpretation of handwriting.</p>

    <p>Special thanks is extended to the late Ellen (Nellie) Jane Porter who spent many hours in 1949 writing down the Porter family history. Without her help many years ago, this task would have been very difficult. Thank you, Aunt Nellie.</p>

    <p>This history has been compiled by:<br />
    Louise (Porter) Bumstead<br />
    Helen (Porter) Fyvie<br />
    Mary (Porter) Hughes</p>

    <p>June 1991</p>
{% endblock %}