{% extends "base.html" %}

{% block title %}Report an Update/Error{% endblock %}

{% block body_class %}report{% endblock %}

{% block content %}
    <h2>Report an Update/Error</h2>
    <p>
        If you are aware of any errors with the information provided for a person, or you have updates to share (births, deaths, marriages, divorces, etc.), please email me at <a href="javascript:location='mailto:\u006a\u0065\u0066\u0066\u002e\u0068\u0075\u0067\u0068\u0065\u0073\u0040\u0067\u006d\u0061\u0069\u006c\u002e\u0063\u006f\u006d?subject=Update for Porter family tree';void 0"><script type="text/javascript">document.write('\u006a\u0065\u0066\u0066\u002e\u0068\u0075\u0067\u0068\u0065\u0073\u0040\u0067\u006d\u0061\u0069\u006c\u002e\u0063\u006f\u006d')</script></a> to let me know! <strong>Please be as specific as possible.</strong>
    </p>
    <p>
        If the information is about a person <em>currently</em> in the database, please provide the URL of the person&rsquo;s page in your email.
    </p>
    <p>
        <em>Information about people:</em> First/middle/last names, nickname, preferred name (e.g., do they go by their middle name?), gender, birth date, death date, places of birth and death, where they are buried, and any additional notes of interest or clarification.
    </p>
    <p>
        <em>Information about marriages/common-law relationships:</em> Marriage date, place of marriage; are they divorced, date of divorce; and order of marriages if dates are not known.
    </p>
    <p>
        <em>Information about parent&ndash;child relationships:</em> All information about people (see above) for both parents and children, and birth order if dates of birth are not known. Please include adoptive parents/children as well.
    </p>
{% endblock %}