.treegraph {
    cursor: move;
}

.treegraph svg {
    border: 1px #ccc solid;
    border-radius: 5px;
}

.treegraph p {
    margin: 0;
    padding: 0;
}

.treegraph .linage,
.treegraph .marriage {
    fill: none;
    stroke: #666;
}

.treegraph .node {
    background-color: #f4f4f4;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 90%;
    text-align: center;
    width: 100%;
    height: 100%;
}

.treegraph .marriageNode {
    background-color: black;
    border-radius: 50%;
}

.treegraph .man {
    border-bottom: 4px #add8e6 solid;
}

.treegraph .woman {
    border-bottom: 4px #fcc0cb solid;
}

.treegraph .emphasis {
    font-weight: bold;
}

.treegraph .node a {
    color: #000;
    text-decoration: none;
}
