{% extends "person.html" %}

{% block content %}
    {{ super() }}

    <p>Thomas was the second son of <a href="{{ url_for('person_page', pid='1') }}">William</a> and <a href="{{ url_for('person_page', pid='1a') }}">Elizabeth (Kenney) Porter</a>. He and his brother <a href="{{ url_for('person_page', pid='1.1') }}">David</a> drew bricks for their family home on the homestead, Lot 16, Concession 10. They got bricks from two kilns at Lot 15, Concession 10 (Snider&rsquo;s Corners &ndash; now Bethesda) and at Lot 17, Concession 6. These kilns were operated by James Lowe. <a href="#note1">(Note 1)</a></p>

    <p><a href="{{ url_for('person_page', pid='1.2a') }}">Georgina Nesbitt</a> was a younger sister of Ellen Nesbitt Kerr, grandmother of <a href="{{ url_for('person_page', pid='1.1.6') }}">Mary Schulz</a>.</p>
    
    <p>Thomas and Georgina Porter bought 150 acres of Lot 15, Concession 10 of St. Vincent Township in 1884. In August 1886, they donated the northwest corner of this farm (85&times;15O feet) to the trustees of St. John&rsquo;s Methodist Church. Thomas served on the building committee and also held the office of secretary-treasurer of St. John&rsquo;s for a period of time.</p>
    
    <p>After <a href="{{ url_for('person_page', pid='1.2.1') }}">Harold&rsquo;s</a> death in 1891, Thomas sold the farm in 1893 and moved west to Parksville, British Columbia. Georgina moved to Owen Sound and lived in one of the houses that Thomas had built.</p>
    
    <p>Thomas Porter was a carpenter by trade and built two houses in the Brooke district of Owen Sound, Ontario. One house, located at 2069 &ndash; 5th Ave. W., he left to his nephew <a href="{{ url_for('person_page', pid='1.1.4') }}">John</a> who in turn gave it to Trinity United Church and First United Church, Owen Sound, on the condition it not be sold. The other house, located at 2056 &ndash; 4th Ave. W., he left to Mrs. Sam Walter, who looked after his wife Georgina. Both houses are standing today.</p>
    
    <p>Thomas was a ratepayer with St. John&rsquo;s School as this is where his son Harold attended.</p>

    <hr />

    <h3>Notes</h3>
    <p><a name="note1">Note 1</a>: <u>History of the Schools of St. Vincent Township and Other Chronicles, 1847-1967</u>. P. 246</p>
{% endblock %}