{% extends "person.html" %}

{% block content %}
    {{ super() }}

    <p>William Porter bought Lot 16, Concession 10, St. Vincent Township in 1846. He willed it to his son <a href="{{ url_for('person_page', pid='1.8') }}">Isaac</a> in 1886. Isaac&rsquo;s son <a href="{{ url_for('person_page', pid='1.8.5') }}">Isaac <u>Herbert</u></a> bought the farm in 1930 and kept it until his death in 1998, after which point it was sold at auction. This farm was in the Porter family name for over 150 years.</p>

    <p>William Porter bought Lot 17, Concession 10, St. Vincent Township in 1883. He willed the farm to his son <a href="{{ url_for('person_page', pid='1.8') }}">Isaac</a> in 1886. Isaac willed the farm to his son <a href="{{ url_for('person_page', pid='1.8.2') }}">William</a> in 1931. William&rsquo;s son <a href="{{ url_for('person_page', pid='1.8.2.1') }}">Albert</a> bought the farm in 1950. Albert sold the farm in 1985 when he retired from active farming. This farm was in the Porter family name for 102 years.</p>
    
    <p>William and Elizabeth were buried in Duxbury&rsquo;s Cemetery, St. Vincent Township. Their graves were moved to Lakeview Cemetery, Meaford, Ontario in 1929.</p>
    
    <p>Further history of William and Elizabeth can be found in the narrative that was written by <a href="{{ url_for('person_page', pid='1.8.5a') }}">Ellen (Nellie) Porter</a> in 1949; the narrative follows.</p>
    
    <h3 id="history-of-porters">History of the Porters</h3>
    <p>1949</p>
    
    <p>William Porter, the grandfather of the <a href="{{ url_for('person_page', pid='1.3a') }}">George H. Arthur</a> family, the <a href="{{ url_for('person_page', pid='1.5') }}">Atkins</a>, the <a href="{{ url_for('person_page', pid='1.6') }}">Frees</a> and the Porters was born December 28, 1821 in Wiltshire, England sailing from Bristol England as a young man for Canada taking either eight or eleven weeks to cross the ocean. He had two sisters but they never came to Canada. He worked for Hiram Bond on the 9th Line North of St. Vincent for eight dollars a month. This was the highest wage paid at that time. He borrowed money from a Mr. McKnight in Owen Sound. He went over there to make payments. The McKnights invited him to stay for dinner. The girl that worked in the home was <a href="{{ url_for('person_page', pid='1a') }}">Elizabeth Kenney</a>. Later she became William Porter&rsquo;s wife.</p>
    
    <p><a href="{{ url_for('person_page', pid='1a') }}">Elizabeth Kenney</a> was born on May 15, 1823 in Donegal, Ireland&mdash;an only child and was a servant in the Old Land. She and her mother came out here when she was around seventeen. She was raised an Anglican but later became a Methodist. She walked from either Barrie or Collingwood to Owen Sound where she worked for Mr. McKnight.</p>
    
    <p>One time Mr. Porter went to see his sweetheart thinking it was Sunday, but as there were no calenders, he missed the count and it was Monday. She said &ldquo;Why William where have you been? I was wearing for you.&rdquo;</p>
    
    <p>On May 18, 1846 William Porter and Elizabeth Kenney were married. The farm on which <a href="{{ url_for('person_page', pid='1.8.5') }}">Herb</a> lives was their land taken from the Crown in 1846. They lived in a little log cabin southwest of the present house. When they started to farm all they had was a shilling and an axe. The table, chairs, sap buckets, spiles were all homemade whittled with a jack knife. The cradle for the eldest, at least, was a sap-trough, a log cut in two and hollowed out.</p>
    
    <p>There were always Indians lurking around. The road was only a trail like a cow path through the bush.</p>
    
    <p>In those early days they had logging bees. The men, taking a team of oxen went to help the neighbours clear the land. Oxen were handier to use in bush as they did not snag themselves; only the chain to carry. The women went along for a sewing bee. In earlier days there were fine tucks down the front of the men&rsquo;s white shirts. Grandma Porter was an expert needlewoman and she was given the task of making these fine tucks by hand as there were no machines.</p>
    
    <p>For fruit, there were wild berries growing in the clearing. These were preserved with maple sugar in stone crocks.</p>
    
    <p>Grandfather took whatever he could carry of wheat to Barrie; have it ground into flour, and carry it home again. Sometimes he would take the oxen and other times walk going one day and coming home the next. It is sixty-five miles to Barrie from here. He would get tea too.</p>
    
    <p>Around seventy years ago <a href="{{ url_for('person_page', pid='1.3.2') }}">Harry Arthur</a> can remember when they had six horses, a yoke of oxen and some big cows. The end of the cow&rsquo;s horn was sawn off and a brass knob screwed on to keep them from hooking. This is the only place H. Arthur ever saw them.</p>
    
    <p>The present house was built in 1865 when <a href="{{ url_for('person_page', pid='1.8') }}">Herb&rsquo;s father</a> was four years old. The contractor was J. J. Johnson. He came from down the country. This was the first work he had done around here. Before he was through he had a number of contracts ahead of him so he moved to Meaford. When they finished building the house the contractors built the cupboard, which we got from the <a href="{{ url_for('person_page', pid='1.7') }}">Aunt Ellen</a> estate, and gave it to grandmother as a present.</p>
    
    <p>Where the driving shed now stands there was a building to house implements and horses. The old barn was all on one floor. The present horse stable was built around 1900 when <a href="{{ url_for('person_page', pid='1.8.2') }}">William</a> was two years old.</p>
    
    <p>The barn was built while grandfather William was living. <a href="{{ url_for('person_page', pid='1.8') }}">Isaac Porter</a> planed all the lumber in the horse stable and driving shed the winter before they were built.</p>
    
    <p>Grandfather and grandmother had eight children&mdash;having seven children in nine years.</p>
    
    <p>Grandfather and his daughter, <a href="{{ url_for('person_page', pid='1.3') }}">Sarah Jane</a>, went to the Quaker church on one horse. This church was a half mile north on the 9th Line of the Meaford Highway on the east side of the road. When they had their meetings they never spoke till the Spirit moved them.</p>
    
    <p>In later years Grandma never combed her own hair. It did not matter how busy <a href="{{ url_for('person_page', pid='1.7') }}">Ellen</a> was, she would always stop to comb her mother&rsquo;s hair.</p>
    
    <p>When Grandad wished to tease his wife he called her Betty. Then she got riled and he chuckled to himself.</p>
    
    <p>She was a short stout woman while her husband was only a medium height around 5'8". His son <a href="{{ url_for('person_page', pid='1.8') }}">Isaac</a> resembled him.</p>
    
    <p>They were very fond of the grandchildren. The grandmother never left home for a long time before she died. <a href="{{ url_for('person_page', pid='1.3.3') }}">Mary Arthur</a>, later Mrs. A.L. Shunk, used to get up on a stool and comb the grandad&rsquo;s hair&mdash;it was in the long English style, and put ribbons on it. To entertain <a href="{{ url_for('person_page', pid='1.8.1') }}">Grace</a>, one day, the grandmother went for a ride in the phaeton&mdash;much like a buggy, only it had mud guards on the wheels and lights from tallow candles. They went around and around the field behind the barn while Grace did the driving.</p>
    
    <p>At Christmas time every chimney had smoke coming from it as a sign of hospitality. The families would all come home for Christmas. In later years two families came home, maybe the Atkins and the Frees one year and the Arthurs and <a href="{{ url_for('person_page', pid='1.2') }}">Tom Porters</a> the next year. The older folk would eat in the dining room and the younger in the kitchen.</p>
    
    <p>William Porter was offered lots 8 and 9 Concession 11 of St. Vincent consisting of 600 acres for $600.00 or a $1.00 an acre. But grandmother said, &ldquo;No you cannot put the boys on that place for it won&rsquo;t grow wheat.&rdquo; Wheat was considered the staple crop worth $1.00 a bushel.</p>
    
    <p>Both could read and write. The grandmother spent a good deal of time knitting; was very quick; rather severe, but good judgment. The grandfather was a mild man but very firm. When she died she left a grain sack of socks for <a href="{{ url_for('person_page', pid='1.8') }}">Isaac</a>. A blue pair the boys wore last summer were Isaac&rsquo;s wedding socks&mdash;their grandfather.</p>
    
    <p>Grandfather died in June 4, 1886.</p>
    
    <p>St. John&rsquo;s Church was built in 1886 on <a href="{{ url_for('person_page', pid='1.2') }}">Thomas Porter&rsquo;s</a> property. Grandmother was asked to name the Church. She named it St. John&rsquo;s after her son <a href="{{ url_for('person_page', pid='1.4') }}">John</a> who had died from typhoid fever in 1869 at the age of seventeen years and three months.</p>
    
    <p>Church was attended regularly by every member of the household and family worship was held in the home. No newspapers were read in the home on Sundays even in <a href="{{ url_for('person_page', pid='1.8.5') }}">Herb&rsquo;s</a> earlier days. Every Sunday Herb&rsquo;s mother taught them the Sunday School lesson before they went to Sunday School. Bible truths were taught very impressively in those early days.</p>
    
    <p>The grandmother [would] put potatoes on to boil, take her Bible and study a chapter. By the time the potatoes were cooked she had memorized the chapter. In the speller she went over a long column, closed the book and then repeated the whole column.</p>
    
    <p>After <a href="{{ url_for('person_page', pid='1.8') }}">Isaac</a> was married, the mother and <a href="{{ url_for('person_page', pid='1.7') }}">Ellen</a> lived in the dining room sleeping in the room off it. Her favourite spot was a rocking chair in front of the west window. Grandfather&rsquo;s clock was north of the west window and the cupboard in the southwest corner.</p>
    
    <p>Grandmother died in May 17, 1909 and was buried in the same grave as her mother who died in her early eighties in Duxbury&rsquo;s Cemetery.</p>
    
    <p>Written by <a href="{{ url_for('person_page', pid='1.8.5a') }}">Ellen Jane (Sinclair) Porter</a></p>
    
    <hr />
    
    <p>To give you a picture of William and Elizabeth&rsquo;s standing, we have included the Agricultural Censuses for 1851, 1861, and 1871. Note the progression of land clearance during each decade. They grew their own produce and likely used some of it for barter.</p>
    
    <p><u>William Porter</u> &ndash; <u>1851 Agricultural Census</u></p>
    
    <p><u>Concession 10, lot 16, St. Vincent Township</u>, 90 acres</p>
    <ul>
        <li>25 acres under cultivation</li>
        <li>23 under crops</li>
        <li>2 under pasture</li>
        <li>65 under wood or wild</li>
        <li>6 acres wheat = 100 bushels</li>
        <li>3 acres peas = 40 bushels</li>
        <li>1 acre oats = 25 bushels</li>
        <li>1-1/4 acre potatoes = 150 bushels</li>
        <li>1 acre turnips = 100 bushels</li>
        <li>5 acres clover or timothy or other grass seed</li>
        <li>10 acres hay</li>
        <li>21 pounds wool</li>
        <li>218 pounds maple sugar</li>
        <li>5 yards frilled cloth</li>
        <li>28 yards flannel</li>
        <li>3 bulls, oxen or steers</li>
        <li>2 milch cows</li>
        <li>7 calves or heifers</li>
        <li>7 sheep</li>
        <li>3 pigs</li>
        <li>200 pounds butter*</li>
        <li>6 cwts. pork</li>
    </ul>
    
    <p>Notes from census&mdash;Owing to the wet season, the pea, Indian corn and potato crops are generally bad, almost a total failure. In many instances, squirrels and birds destroyed the crops, especially in small clearings. The land in most parts of the township is well watered by creeks and living springs. Many of these * may appear incorrect but the reason is they milked more cows in summer than they have to give in at this time. Census Taker.</p>
    
    <p><u>William Porter</u> &ndash; <u>1861 Agricultural Census</u></p>
    <ul>
        <li>50 acres under cultivation</li>
        <li>40 acres crops in 1860</li>
        <li>10 acres pasture</li>
        <li>40 wood or wild</li>
        <li>$2500 cash value of farm</li>
        <li>$125 cash value of implements</li>
        <li>1 acre fall wheat = 28 bushels</li>
        <li>15 acres spring wheat = 400 bushels</li>
        <li>4 acres peas = 100 bushels</li>
        <li>1-1/4 acres oats = 40 bushels</li>
        <li>4 acres Indian corn = 10 bushels</li>
        <li>1&amp;1/2 acres potatoes = 400 bushels</li>
        <li>1 acre turnips = 300 bushels</li>
        <li>12 tons hay</li>
        <li>10 acres clover seed, timothy or other grass seed</li>
    </ul>
    
    <p><u>William Porter</u> &ndash; <u>1871 Agricultural Census</u>
    195 acres owned, 2 houses, 3 barns and stables, 2 carriages and sleighs, 6 cars, waggons and sleds, 3 ploughs and cultivators, 2 fanning mills</p>
    
    <p><u>Lot 16, Concession 10</u> &ndash; 95 acres occupied</p>
    <ul>
        <li>75 acres improved</li>
        <li>12 acres pasture</li>
        <li>1 acre garden and orchard</li>
        <li>8 acres wheat = 90 bushels spring wheat</li>
        <li>              = 15 b. fall wheat</li>
        <li>180 bushels barley</li>
        <li>200 bushels oats</li>
        <li>100 bushels peas</li>
        <li>10 bushels corn</li>
        <li>1/4 acre potatoes = 130 bushels potatoes</li>
        <li>150 bushels turnips</li>
        <li>40 bushels carrots, other roots</li>
        <li>70 lb. wool</li>
        <li>20 cords firewood</li>
        <li>20 acres hay = 15 tons</li>
        <li>31 bushels grass, clover seed</li>
        <li>5 bushels apples</li>
        <li>5 bushels pears, plums and other fruits</li>
        <li>280 lb. maple sugar</li>
        <li>3 horses over 3 years</li>
        <li>2 working oxen</li>
        <li>5 milch cows</li>
        <li>10 other horned cattle</li>
        <li>15 sheep</li>
        <li>16 swine</li>
        <li>400 lb. butter</li>
        <li>60 lb. homemade cheese</li>
    </ul>
{% endblock %}