{% extends "person.html" %}

{% block content %}
    {{ super() }}

    <p>Isaac Porter was born in 1861 at the homestead, Lot 16, Concession 10. He married <a href="{{ url_for('person_page', pid='1.8a') }}">Anna Maria (Minnie) Shields</a> who lived on the farm next door. They had 5 children &ndash; <a href="{{ url_for('person_page', pid='1.8.1') }}">Grace</a>, <a href="{{ url_for('person_page', pid='1.8.2') }}">William</a>, <a href="{{ url_for('person_page', pid='1.8.3') }}">Elizabeth Kenny</a>, <a href="{{ url_for('person_page', pid='1.8.4') }}">Isabel Josephine</a>, and <a href="{{ url_for('person_page', pid='1.8.5') }}">Isaac <u>Herbert</u></a> Porter.</p>

    <p>Anna Maria Shields taught school at S.S. #10 (White's School) at Lot 3, Concession 10 for the school year 1889-1890. Isaac and Anna Maria's children attended St. John's School (S.S. #11). <a href="#note1">(Note 1)</a>.</p>
    
    <p>Isaac Porter was a ratepayer with S.S. #7 (Bethesda School) in 1889, and also a ratepayer with S.S. #11 (St. John's School) in 1889.</p>
    
    <p>Isaac bought the homestead from his father <a href="{{ url_for('person_page', pid='1') }}">William</a> in 1886. His son <a href="{{ url_for('person_page', pid='1.8.5') }}">Herbert</a> bought the farm in 1930 and lives there today. The family attended St. John's Methodist Church, Lot 15, Concession 10, until it closed in 1964.</p>
    
    <p><a href="{{ url_for('person_page', pid='1.8.1') }}">Grace Porter</a> was born in 1893 on the homestead, Lot 16, Concession 10. She married <a href="{{ url_for('person_page', pid='1.8.1a') }}">Hollis Theodore Weaver</a> in 1913. They farmed at Lot 7, Concession 2 of Sydenham Township from 1913-1968. They attended St. Paul's United Church, Lot 4, Concession 2 Sydenham Township. Hollis Weaver attended S.S. #10 Sydenham and St. Vincent School, known as Blind Line School. <a href="#note2">(Note 2)</a></p>
    
    <p>Grace and Hollis Weaver had three children &ndash; <a href="{{ url_for('person_page', pid='1.8.1.1') }}">Kenneth Francis</a>, <a href="{{ url_for('person_page', pid='1.8.1.2') }}">Charles Melbourne</a>, and <a href="{{ url_for('person_page', pid='1.8.1.3') }}">Raeburn Hollis</a> Weaver. After Hollis' death in 1968, his son Raeburn owned the farm for 3 years until his death in 1971.</p>
    
    <p><a href="{{ url_for('person_page', pid='1.8.1.1') }}">Kenneth</a> and <a href="{{ url_for('person_page', pid='1.8.1.1a') }}">Anna Weaver</a> owned Lot 6, Concession 3 of Sydenham Township from 1937-1970. Then they moved into Owen Sound, Ontario.</p>
    
    <p><a href="{{ url_for('person_page', pid='1.8.1.2') }}">Charles Weaver</a> served with the Canadian Armed Forces from 1941 to 1946. He took part in the Sicily Invasion from July 1943 to March 1945, then returned to England.</p>
    
    <p><a href="{{ url_for('person_page', pid='1.8.2') }}">William Porter</a> was born in 1898 at the homestead, Lot 16, Concession 10. He married <a href="{{ url_for('person_page', pid='1.8.2a') }}">Edith Henrietta Jolley</a> at the Meaford parsonage, in 1920. They proceeded to the train station from the ceremony and travelled by train to Carman, Manitoba where they farmed for a few years. Edith returned to Meaford to the home of her parents (George H. &amp; Ula Jolley) at Lot 16, Concession 11 in 1921 where <a href="{{ url_for('person_page', pid='1.8.2.1') }}">Albert</a> was born. When he was about 6 weeks old, she returned by train to Carman, Manitoba. William and Edith left Manitoba in 1923 and returned to Meaford before <a href="{{ url_for('person_page', pid='1.8.2.2') }}">Louise</a> was born.</p>
    
    <p>William and Edith had five children &ndash; <a href="{{ url_for('person_page', pid='1.8.2.1') }}">Albert Isaac</a>, <a href="{{ url_for('person_page', pid='1.8.2.2') }}">Edith <u>Louise</u></a>, <a href="{{ url_for('person_page', pid='1.8.2.3') }}">Helen Elizabeth</a>, <a href="{{ url_for('person_page', pid='1.8.2.4') }}">Harold William</a>, and <a href="{{ url_for('person_page', pid='1.8.2.5') }}">Donelda Margaret</a> Porter. All their children attended St. John's School (S.S. #11).</p>
    
    <p>William bought Lot 17, Concession 10 from his father Isaac in 1930. The original buildings still stand today. However, the barn has been enlarged, adding 20 feet in the center of it. After William's death in 1950, Edith sold the farm to her son <a href="{{ url_for('person_page', pid='1.8.2.1') }}">Albert</a>. Albert farmed there for many years, selling it in 1985. This farm was in the Porter family name for 102 years, from 1883-1985. (<a href="{{ url_for('person_page', pid='1') }}">William</a> and <a href="{{ url_for('person_page', pid='1a') }}">Elizabeth Kenney Porter</a> bought this farm from Robert Taylor in 1883.)</p>
    
    <p><a href="{{ url_for('person_page', pid='1.8.3') }}">Elizabeth Kenny Porter</a> was born in 1900 at the homestead, living for one year. She is buried in Lakeview Cemetery, Meaford, Ontario.</p>
    
    <p><a href="{{ url_for('person_page', pid='1.8.4') }}">Isabel Josephine Porter</a> was born in 1902 at the homestead, Lot 16, Concession 10 St. Vincent Township. She married <a href="{{ url_for('person_page', pid='1.8.4a') }}">William David Palmer</a> who grew up on Lot 11, Concession 11 of St. Vincent Township and attended St. John's School with Isabel. After their marriage in 1926, they moved to Cleveland, Ohio, USA. They had 4 children &ndash; <a href="{{ url_for('person_page', pid='1.8.4.1') }}">Keith David</a>, <a href="{{ url_for('person_page', pid='1.8.4.2') }}">Dorothy June</a>, <a href="{{ url_for('person_page', pid='1.8.4.3') }}">Paul Duane</a> and <a href="{{ url_for('person_page', pid='1.8.4.4') }}">Margaret Evangeline</a> Palmer.</p>
    
    <p><a href="{{ url_for('person_page', pid='1.8.5') }}">Isaac <u>Herbert</u> Porter</a> was born in 1906 on the family farm (Lot 16, Concession 10) and still resides there today. He married <a href="{{ url_for('person_page', pid='1.8.5a') }}">Ellen Jane (Nellie) Sinclair</a> of Keady in 1932.</p>
    
    <p>Ellen Sinclair taught school at St. John's (SS#11) and at USS #15 (Morley School). <a href="#note3">(Note 3)</a></p>
    
    <p>Herbert and Ellen had 3 children &ndash; <a href="{{ url_for('person_page', pid='1.8.5.1') }}">Malcolm Isaac</a>, <a href="{{ url_for('person_page', pid='1.8.5.2') }}">Donald Shields</a> and <a href="{{ url_for('person_page', pid='1.8.5.3') }}">Marion Ellen</a> Porter.</p>
    
    <p>Ellen wrote the history of the Porter family in 1949. It is to her that we are much indebted, because without her help many years ago, this task would have been very difficult. Thank you Aunt Nellie.</p>
    
    <p>The original buildings still stand on the homestead, with slight alterations.</p>
    
    <p>School pictures of the Porter family can be found on the following pages of:</p>
    
    <p>I. <u>History of the Schools of St. Vincent Township and Other Chronicles, 1847-1967</u></p>
    
    <p>page 112:<br />
    Laura Boyes</p>
    
    <p>page 146:<br />
    Lois Porter<br />
    Tom Porter<br />
    Mary Porter<br />
    Ruth Porter</p>
    
    <p>page 148:<br />
    Grace Porter</p>
    
    <p>page 149:<br />
    Herb Porter<br />
    Bill Palmer<br />
    Edith Jolley<br />
    Isabel Porter</p>
    
    <p>page 150:<br />
    Herb Porter</p>
    
    <p>page 151:<br />
    Helen Porter<br />
    Louise Porter</p>
    
    <p>page 156:<br />
    Earl Bumstead</p>
    
    <p>II. <u>History of Sydenham Township, 1967</u></p>
    
    <p>page 67:<br />
    Charlie Weaver</p>
    
    <p>page 77:<br />
    Hollis Weaver</p>

    <hr />

    <h3>Notes</h3>
    <p><a name="note1">Note 1</a>: <u>History of The Schools of St. Vincent Township and Other Chronicles, 1847-1967</u>. Pages 137,139</p>
    <p><a name="note2">Note 2</a>: <u>History of Sydenham Township &ndash; 1967</u>. Pages 77, 236-240.</p>
    <p><a name="note3">Note 3</a>: <u>History of the Schools of St. Vincent Township and Other Chronicles, 1847-1967</u> &ndash; Pages 146,181</p>
{% endblock %}